<main>
  <h1 class='text-center text-uppercase'>Hello word!</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>

  <hr />

  <div class='display-1'>Hello word!</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>3 title</div>

  <hr />

  <div class='text-end text-muted'>
    Додатковий<span class='display-4'>текст</span>
  </div>

  <hr />

  <button class='btn btn-primary'>Тестова кнопка</button>

  <hr />

  <p class='text-primary'>Primary Text</p>

  <hr />

  <div class='card'>
    <div class='card-body'>
      <button
        class='btn btn-secondary btn-lg'
      >Отмена</button>
      <button
        class='btn btn-outline-secondary'
      >Редактировать</button>
      <button
        class='btn btn-outline-danger btn-sm'
      >Удалить</button>
    </div>
  </div>

  <br />
  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

</main>