<main class='p-5'>
  <h1 class='text-center text-uppercase'>Hello word!</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>

  <hr />

  <div class='display-1'>Hello word!</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>3 title</div>

  <hr />

  <div class='text-end text-muted'>
    Додатковий<span class='display-4'>текст</span>
  </div>

  <hr />

  <button class='btn btn-primary'>Тестова кнопка</button>

  <hr />

  <p class='text-primary'>Primary Text</p>

  <hr />

  <div class='card'>
    <div class='card-body'>
      <button
        class='btn btn-secondary btn-lg'
      >Отмена</button>
      <button
        class='btn btn-outline-secondary'
      >Редактировать</button>
      <button
        class='btn btn-outline-danger btn-sm'
      >Удалить</button>
    </div>
  </div>

  <br />
  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

  <hr />
  <div class='row gy-5'>
    <section class='col-12'>
      <div class='card'>
        <img
          class='card-img-top'
          src='https://picsum.photos/600/300'
          alt='Product photo'
        />
        <div class='card-body text-bg-dark'>
          <h5 class='card-title text-bg-primary'>Product
            #12312</h5>
          <p class='text-bg-warning'>description</p>
          <a href='#' class='btn btn-success'>Open</a>
        </div>
      </div>
    </section>

    <section class='col-3'>
      <div class='card'>
        <div class='card-header'>
          <div class='display-6'>Menu</div>

        </div>
        <ul class='list-group'>
          <li class='list-group-item'>
            <a href='#' class='btn btn-link'>Home page</a>
          </li>
          <li class='list-group-item'>
            <a href='#' class='btn btn-link'>Summary page</a></li>
          <li class='list-group-item'>
            <a href='#' class='btn btn-link'>Skils page</a>
          </li>
        </ul>

        <div class='card-footer'>
          <button class='btn btn-dark btn-sm'>Update list</button>
        </div>
      </div>
    </section>
    <section class='col-9'>
      <table
        class='table table-striped table-bordered text-bg-success'
      >
        <thead>
          <tr>
            <th>#id</th>
            <th>name</th>
            <th>age</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Jhon</td>
            <td>35</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ivan</td>
            <td>28</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ivan</td>
            <td>28</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ivan</td>
            <td>28</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ivan</td>
            <td>28</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ivan</td>
            <td>28</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ivan</td>
            <td>28</td>
          </tr>

        </tbody>
      </table>
    </section>

    <section class='col-12'>
      <div class='row g-2'>
        <div class='col-6'>
          <div class='card text-bg-secondary'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content our box</p>
              <button class='btn btn-light'>Click!</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
        <div class='col-6'>
          <div class='card text-bg-secondary'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content our box</p>
              <button class='btn btn-light'>Click!</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
        <div class='col-6'>
          <div class='card text-bg-secondary'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content our box</p>
              <button class='btn btn-light'>Click!</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
        <div class='col-6'>
          <div class='card text-bg-secondary'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content our box</p>
              <button class='btn btn-light'>Click!</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <br />
  <br />

  <div class='card'>
    <div class='card-header'>
      <div class='display-6'>Menu</div>

    </div>
    <ul class='list-group'>
      <li class='list-group-item'>
        <a href='#' class='btn btn-link'>Home page</a>
      </li>
      <li class='list-group-item'>
        <a href='#' class='btn btn-link'>Summary page</a></li>
      <li class='list-group-item'>
        <a href='#' class='btn btn-link'>Skils page</a>
      </li>
    </ul>

    <div class='card-footer'>
      <button class='btn btn-dark btn-sm'>Update list</button>
    </div>
  </div>

  <br />
  <br />
  <br />

  <table
    class='table table-striped table-bordered text-bg-success'
  >
    <thead>
      <tr>
        <th>#id</th>
        <th>name</th>
        <th>age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Jhon</td>
        <td>35</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ivan</td>
        <td>28</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ivan</td>
        <td>28</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ivan</td>
        <td>28</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ivan</td>
        <td>28</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ivan</td>
        <td>28</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ivan</td>
        <td>28</td>
      </tr>

    </tbody>
  </table>

  <br />
  <br />
  <br />

  <div class='card text-bg-secondary'>
    <div class='card-header text-center'>Header</div>
    <div class='card-body text-center'>
      <h6 class='card-title'>This is title</h6>
      <p>This is content our box</p>
      <button class='btn btn-light'>Click!</button>
    </div>
    <div class='card-footer text-center'>Footer</div>
  </div>

  <br />
  <br />
  <br />

  <div class='row'>
    <div class='col-3'>
      <div class='card text-bg-secondary'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content our box</p>
          <button class='btn btn-light'>Click!</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
    <div class='col-6'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content our box</p>
          <button class='btn btn-light'>Click!</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
    <div class='col-3'>
      <div class='card text-bg-secondary'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content our box</p>
          <button class='btn btn-light'>Click!</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
  </div>

  <div class='row g-5'>
    <div class='col-12'>
      <div>
        <label class='form-label'>Email address</label>
        <input class='form-control' />
        <div class='form-text text-danger'>Error. You need
          to set correct email</div>
      </div>
      <div><hr /></div>
      <div class='col-12'>
        <div>
          <label class='form-label'>Select role</label>
          <select class='form-select' />
            <option selected>Open list</option>
            <option value="1" class="text-bg-danger">Amdin</option>
            <option value="2" class="text-bg-primary">User</option>
            <option value="3" class="text-bg-secondary">Ghost</option>
          </select>
        </div>
      </div>

      <div>
        <hr>
      </div>

      <div class="col-12">
         <div class='form-label'>Select food</div>
        <div class="form-check">
          <label class="form-check-label">Apple</label>
          <input name="food" type="checkbox" class="form-check-input"> 
        </div>
        <div class="form-check">
          <label class="form-check-label">Banana</label>
          <input name="food" type="checkbox" class="form-check-input"> 
        </div>
        <div class="form-check">
          <label class="form-check-label">Tomato</label>
          <input name="food" type="checkbox" class="form-check-input"> 
        </div>
      </div>
    </div>
  </div>
</main>