
<div>
	{{#with main}}
		<main>
			<section class="mb-5">
			<div>
				{{> title data=summary.title big=true}}
			</div>
			<div>
				<p>
				{{summary.text}}
				</p>
			</div>
			</section>

			<section>
			<div>
				{{> title data=experience.title}}
			</div>
			<div>
				<p>
				{{experience.text}}
				</p>
			</div>
			</section>
		</main>
  {{/with}}
</div>
