<div class='my-4 mt-5'><hr /></div>
<footer class='ms-2 mb-3'>
  <div class='nav'>
    {{#each footer}}
      <div class='nav-item'>
        {{#each this}}
          <a class='nav-link' href='{{link}}'>{{text}}</a>
        {{/each}}
      </div>
    {{/each}}
  </div>
</footer>