<div class='card'>
  <nav class='nav'>
    <a
      class='nav-link text-'
      aria-current='page'
      href='/'
    ><big>Home page</big></a>
    <a
      class='nav-link mt-1 ps-1 text-info'
      aria-current='page'
      href='/summary'
    >Summary</a>
    <a
      class='nav-link mt-1 text-info'
      href='/skills'
    >skills</a>
    <a
      class='nav-link mt-1 text-info'
      href='/education'
    >Education</a>
    <a class='nav-link mt-1 text-info' href='/work'>Work</a>
  </nav>
</div>